source https://nuget.org/api/v2

nuget AutoFixture.AutoFakeItEasy
nuget Fixie version_in_path: true

group Build

  source https://nuget.org/api/v2
  
  nuget FAKE
  nuget StyleCop.Analyzers
  nuget CodeCracker.CSharp prerelease

group Test

  source https://nuget.org/api/v2
  
  nuget Shouldly