framework: net45
redirects: on

source https://nuget.org/api/v2

nuget Fixie version_in_path: true

group Build
  redirects: on
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget StyleCop.Analyzers
  nuget CodeCracker.CSharp prerelease
  nuget RefactoringEssentials

group Test
  redirects: on

  source https://nuget.org/api/v2
  
  nuget AutoFixture
  
  nuget AutoFixture.Idioms
    redirects: force
    strategy: min
  nuget Shouldly