type project
licenseUrl
  http://opensource.org/licenses/MIT

iconUrl
    https://raw.github.com/Martin-Bohring/fixieSpec/master/assets/fixieSpec256.png

authors
  Martin Bohring

excludeddependencies
  StyleCop.Analyzers
  CodeCracker.CSharp
