type project
licenseUrl
  http://opensource.org/licenses/MIT

iconUrl
    https://raw.github.com/Martin-Bohring/fixieSpec/master/assets/Fixiespec-64-01.png

authors
  Martin Bohring

excludeddependencies
  StyleCop.Analyzers
  CodeCracker.CSharp
  RefactoringEssentials

include-pdbs true
